{% extends 'base.html.twig' %}

{% block body %}
    <section class="header-home">
        <div class="container">
            <div class="jumbotron">

                <h1>Rapp'iréo: plateforme des rapports à l'iréo !</h1>

                <p>Rapp'iréo vous permet de déposer vos propres rapports lors de votre formation mais également à consulter les rapports déjà réaliser. Bon surf.</p>

                <div class="panel panel-default">
                    {% include 'search/_book_search.html.twig' %}
                </div>
            </div>
        </div>
    </section>

    <section class="container">

        <div class="row">

            <div class="col-md-8 last-books">
                <h2>Les derniers livres</h2>

                <div class="row">
                    {% for book in lastBooks %}
                        <div class="col-sm-6 col-md-4">
                            {% include 'book/_book_thumbnail.html.twig' with {'book': book} %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Top villes</h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span class="badge">125 livres</span>
                                Nantes
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">113 livres</span>
                                Rennes
                            </a>
                            <a href="#" class="list-group-item">
                                <span class="badge">92 livres</span>
                                Angers
                            </a>
                        </div>
                        <a class="btn btn-primary btn-block"><i class="fa fa-map"></i> Voir toutes les villes</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Top utilisateurs</h2>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">                            {% for item in users %}
                                <a href="{{ path('show_user', {'id':item.user.id}) }}" class="list-group-item">
                                    {{ item.user.username }} : <span class="badge">{{ item.count_borrows }} échanges</span>
                                </a>
                            {% endfor %}                        </div>
                        <a class="btn btn-primary btn-block"><i class="fa fa-users"></i> Voir tous les utilisateurs</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section>

    </section>

    <section class="container">

        <h2>Rechercher une boîte à livre</h2>

        <div id="map-books" data-url="{{ path('box_index') }}" data-image-path="{{ asset('images/m') }}"></div>

    </section>
{% endblock %}
